{% extends "blog/base.html" %}
{% block content %}
    <h1>My name is HARDIK SHARMA. This is my project to try hands on Django.</h1>
    <h3>This project is a blog . Here , I would share my real life experiences in field of Computer Science in form
    of this blog project. In this project , every new user can make his/ her account and also share his/ her
        experience and manage his profile accordingly. </h3>
    <h3>
        I also implemented a functionality that allows file sharing over the Django project. One can upload a file of
        any format on his/her blog post and it can be downloaded by other people.
    </h3>

{% endblock content %}

<!---hardik bhai ka project--->